.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 300;
  top: 0px;
  right: 0px;
  display: none;
  background: var(--modal-overlay);
}
.change-address {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 301;
  background-color: var(--background-white);
}
.change-address__header {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
}
.change-address__h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  letter-spacing: -0.2px; 
}
.close-modal-icon {
  width: 24px;
  height: 24px;
  background-image: url(../../icons/closeWindowIcon.svg);
  cursor: pointer;
}
.change-address__wrap {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}
.change-address__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1 0 0;
  margin: 0 auto;
}
.change-address__list-selectors {
  max-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
}
.change-address__list-selector {
  display: flex;
  height: 40px;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  border-radius: 20px;
  border: 2px solid var(--magenta-pale);
  background-color: var(--background-white);
}
.change-address__list-selector-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--text-black);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.change-address__list-item {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.change-address__radio-container {
  display: flex;
  width: 20px;
  flex-direction: column;
  align-self: stretch;
}
.change-address__stock-radio, .cards-list-item__stock-radio {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.change-address__custom-radio, .cards-list-item__custom-radio {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: var(--background-white);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  vertical-align: text-top;
}
.change-address__stock-radio:checked + .change-address__custom-radio {
  border: 5px solid var(--magenta);
}
.change-address__point-container {
  display: flex;
  padding: 4px 0px 8px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}
.change-address__point-address {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.change-address__rating-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
.change-address__star-container {
  display: flex;
  padding: 2px 0px;
  align-items: center;
  gap: 2px;
}
.rating-text {
  display: flex;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  color: var(--text-black);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.change-address__point-name {
  color: var(--light-gray);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.change-address__delete-container {
  display: flex;
  width: 20px;
  flex-direction: column;
  align-self: stretch;
  display: flex;
}
.change-address__delete-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url(../../icons/deleteIcon.svg);
}
.change-address__delete-icon:hover {
  background-image: url(../../icons/deleteIconHover.svg);
}
.change-address__list-addresses {
  display: flex;
  width: 100%;
  padding: 0px 14px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.change-address__list-addresses-h3 {
  display: flex;
  height: 18px;
  padding: 2px 1px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.popup-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.popup-button-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.popup-button {
  display: flex;
  height: 44px;
  width: 164px;
  padding: 0px 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-color: var(--magenta);
  border-radius: 8px;
  color: var(--text-white);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.change-card {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--background-white);
}
.change-card__header-cont {
  display: flex;
  width: auto;
  align-self: stretch;
}
.change-card__h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  width: 100%;
  color: var(--text-black);
  font-size: 20px;
  font-style: normal;
  line-height: 28px;
  letter-spacing: -0.2px;
}
.cards-list-container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex: 1 0 0;
}
.cards-list-item {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.cards-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.cards-list-item__radio-wrapper {
  display: flex;
  width: 20px;
  padding: 3px 0px 1px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
.cards-list-item__stock-radio:checked + .cards-list-item__custom-radio {
  border: 5px solid var(--magenta);
}
.cards-list-item__custom-radio::before, .change-address__custom-radio::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #a3a4a7;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
}
.card-info {
  display: flex;
  align-items: center;
  gap: 4px;
}
.card-info__payment-system {
  display: flex;
  width: 32px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background-color: var(--background-smoky);
}
.card-info__number {
  color: var(--text-black);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.displayed {
  display: block;
}
.selected {
  border: 2px solid var(--magenta);
}
@media (max-width: 1023px) {
  .cards-list-container {
    padding: 0px 16px;
    align-items: flex-start;
    gap: 8px;
  }
  .change-address {
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
  .change-address__header {
    padding: 16px 11px 13px 16px;
    align-items: center;
  }
  .change-address__h2 {
    width: 100%;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    height: 32px;
  }
  .change-address__list {
    align-items: flex-start;
    min-width: 300px;
  }
  .change-address__list-selectors {
    padding: 0px 16px;
  }
  .change-address__list-selector {
    height: 40px;
  }
  .change-address__radio-container {
    padding: 9px 0px 51px 0px;
    align-items: center;
  }
  .change-address__delete-container {
    align-items: center;
    padding: 8px 0px 52px 0px;
  }
  .popup-button-container {
    padding: 16px;
  }
  .popup-button-wrap {
    gap: 16px;
  }
  .change-card {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  .change-card__header-cont {
    padding: 16px 11px 13px 16px;
    align-items: center;
  }
  .change-card__h2 {
    display: flex;
    font-weight: 600;
    height: 32px;
  }
}
@media (min-width: 1024px) {
  .cards-list-container {
    padding: 0px 22px 123px 22px;
    align-items: center;
    gap: 24px;
  }
  .change-address {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 500px;
    border-radius: 16px; 
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);
  }
  .change-address__header {
    padding: 16px 24px 13px 24px;
    align-items: flex-start;
  }
  .change-address__h2 {
    font-weight: 700;
    display: flex;
    height: 28px;
    align-self: stretch;
    gap: 8px;
    align-items: flex-start;
  }
  .change-address__close-wrap {
    display: flex;
    padding-top: 4px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    opacity: 0.9;
  }
  .change-address__list {
    padding: 0px 22px;
    align-items: center;
    align-self: stretch;
    min-width: 500px;
  }
  .change-address__list-selectors {
    padding: 0px;
  }
  .change-address__list-selector {
    align-self: stretch;
    height: 36px;
  }
  .change-address__list-selector:hover{
    cursor: pointer;
  }
  .change-address__list-addresses{
    width: auto;
    padding: 0px 0px 33px 0px;
    align-self: stretch;
  }
  .change-address__radio-container {
    padding: 9px 0px 7px 0px;
    align-items: start;
  }
  .change-address__delete-container {
    align-items: start;
    padding: 8px 0px;
    justify-content: start;
  }
  .popup-button-container {
    padding: 16px 24px 24px 24px;
  }
  .popup-button-wrap {
    gap: 24px;
  }
  .change-card {
    position: fixed;
    top: 179.5px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: auto;
    border-radius: 16px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);
  }
  .change-card-btn {
    padding-bottom: 5px;
  }
  .change-card__header-cont {
    padding: 16px 24px 13px 24px;
    align-items: flex-start;
  }
  .change-card__h2 {
    font-weight: 700;
    height: 28px;
  }
  .selected {
    border: 2px solid var(--magenta);
  }
}