.products-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.product {
  width: 100%;
  display: grid;
  grid-template-columns: 22px 72px 1fr 226px;
  gap: 13px;
}
.product__checkbox-cont {
  position: relative;
}
.product__checkbox + label {
  position: absolute;
}
.counter {
  display: grid;
}
.counter__field {
  position: relative;
  background-color: var(--background-white);
  border-radius: 8px;
}
.counter__number {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.minus-img {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
}
.plus-img {
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
}
@media (min-width: 1024px) {
  .product__checkbox-cont {
    width: 22px;
    height: 96px;
  }
  .product__checkbox + label {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .product__name {
    max-width: 275px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }
  .product__specs {
    max-width: 275px;
    display: flex;
    padding-top: 8px;
    gap: 16px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
  }
  .product__location {
    padding-top: 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--system-gray);
  }
  .product__location .info {
    padding-top: 4px;
  }
  .counter-and-price {
    display: flex;
    justify-content: space-between;
  }
  .counter {
    padding: 3px 0px 0px 0px;
    grid-template-rows: 45px 16px 20px;
    gap: 8px;
    width: 100px;
  }
  .counter__field {
    width: 100px;
    height: 44px;
  }
  .counter__number {
    width: 40px;
    height: 20px;
    text-align: center;
  }
  .counter__prod-left {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--orange-dark);
  }
  .fav-del-block {
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: end;
    gap: 16px;
  }
  .product-price {
    width: 110px;
    min-height: 30px;
  }
  .product-price__current {
    text-align: right;
    height: 28px;
  }
  .product-price__value {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-align: right;
  }
  .product-price__currency {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: right;
  }
  .product-price__previous {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: right;
    text-decoration: line-through;
    color: var(--system-gray);
  }
  .product-price__previous span {
    border-bottom: dashed;
    border-color: rgba(151, 151, 175, 0.5);
    border-width: 1.5px;
  }
}