.search-panel {
  display: none;
}
@media (max-width: 1023px) {
  .mobile-only {
    display: block;
  }
}

@media (min-width: 1024px) {
  .search-panel {
    display: flex;
    height: 48px;
    padding: 0px 20px;
    align-items: center;
    flex: 1 0 0;
    border-radius: 36px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .search-panel__wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
    flex: 1 0 0;
    align-self: stretch;
  }
  .search-panel__input {
    display: flex;
    padding-bottom: 4px;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    opacity: 0.5;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .search-panel__input[type=text] {
    color: var(--text-white);
    color: var(--text-white);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .search-panel__input[type=text]::-moz-placeholder {
    color: var(--text-white);
  }
  .search-panel__input[type=text]::placeholder {
    color: var(--text-white);
  }
  .mobile-only {
    display: none;
  } 
}