@import "variables.sass"

header
    background-color: $violet
    .header-wrapper
        display: flex
        gap: 15px

@media (min-width: 321px)

@media (min-width: 1024px)
    header
        height: 112px
        .header-wrapper
            padding: 16px 3px 16px 24px
            height: 88px
            display: flex
            align-items: center
            gap: 32px
            .catalog-logo
                width: 170px
                height: 56px
                display: flex
                gap: 14px
                justify-content: space-between
                align-items: center
                .logo
                    width: 106px
                    height: 56px
                    font-size: 22px
                    font-weight: 600
                    color: white
                    line-height: 23px
        .header-rounding
            height: 24px
            .header-rounding__rectangle
                height: 100%
                top: 88px
                border-radius: 24px 24px 0px 0px
                background-color: rgba(246, 246, 250, 1)

@media (min-width: 1400px)
    