@media (min-width: 1px) {
  .header {
    background-color: rgb(103, 37, 168);
  }
  .header-wrapper {
    display: flex;
    align-items: center;
    align-self: stretch;
    padding: 0px 13px;
    gap: 16px;
    max-width: 1440px;
    margin: 0 auto;
  }
  .catalog-and-logo {
    display: flex;
    align-items: flex-start;
    gap: 24px;
  }
  .desktop-logo {
    display: none;
  }
  .mobile-logo {
    display: flex;
    padding: 11px 4px 21px 4px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    text-align: center;
  }
  .logo {
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    font-variant: all-small-caps;
    letter-spacing: 0.52px;
  }
  .header-rounding {
    height: 15px;
    border-radius: 26px 26px 0px 0px;
    background-color: rgb(246, 246, 250);
  }
}
@media (min-width: 1024px) {
  .header-wrapper {
    padding: 16px 3px 16px 24px;
    height: 88px;
    gap: 32px;
  }
  .catalog-and-logo {
    width: 171px;
    height: 56px;
    align-items: center;
    gap: 16px;
  }
  .desktop-logo {
    display: block;
  }
  .mobile-logo {
    display: none;
  }
  .logo {
    font-size: 28px;
    line-height: 24px;
    letter-spacing: 0.56px;
    max-width: 107px;
    flex-shrink: 0;
    padding-bottom: 5px;
  }
  .header-rounding {
    height: 24px;
    padding: 0px;
    border-radius: 24px 24px 0px 0px;
    background-color: rgb(246, 246, 250);
  }
}