@import "body_style"
@import "header.sass"
@import "catalog-btn.sass"
@import "search-panel.sass"
@import "menu-icons.sass"
@import "cart.sass"
@import "products-list.sass"
@import "wb-checkbox.sass"
@import "order-details.sass"
@import "payment-details.sass"
@import "client.sass"
@import "footer.sass"
@import "total.sass"

html
    font-family: Segoe UI

@media (min-width: 1px)
    
    body
        background-color: rgba(246, 246, 250, 1)

    .desktop-only
        display: none
    .mobile-only
        display: block

@media (min-width: 1024px)
    .desktop-only
        display: block
    .mobile-only
        display: none