body {
  font-family: "Segoe UI";
}

@media (min-width: 1px) {
  .header {
    background-color: rgb(103, 37, 168);
  }
  .header-wrapper {
    display: flex;
    align-items: center;
    align-self: stretch;
    padding: 0px 13px;
    gap: 16px;
    max-width: 1440px;
    margin: 0 auto;
  }
  .catalog-and-logo {
    display: flex;
    align-items: flex-start;
    gap: 24px;
  }
  .desktop-logo {
    display: none;
  }
  .mobile-logo {
    display: flex;
    padding: 11px 4px 21px 4px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    text-align: center;
  }
  .logo {
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    font-variant: all-small-caps;
    letter-spacing: 0.52px;
  }
  .header-rounding {
    height: 25.5px;
    margin-bottom: -11px;
    border-radius: 26px 26px 0px 0px;
    background-color: rgb(246, 246, 250);
  }
}
@media (min-width: 1024px) {
  .header-wrapper {
    padding: 16px 3px 16px 24px;
    height: 88px;
    gap: 32px;
  }
  .catalog-and-logo {
    width: 171px;
    height: 56px;
    align-items: center;
    gap: 16px;
  }
  .desktop-logo {
    display: block;
  }
  .mobile-logo {
    display: none;
  }
  .logo {
    font-size: 28px;
    line-height: 24px;
    letter-spacing: 0.56px;
    max-width: 107px;
    flex-shrink: 0;
    padding-bottom: 5px;
  }
  .header-rounding {
    height: 24px;
    padding: 0px;
    border-radius: 24px 24px 0px 0px;
    margin-bottom: 0px;
    background-color: rgb(246, 246, 250);
  }
}
@media (min-width: 1px) {
  .catalog-btn {
    width: 28px;
    height: 28px;
    border: none;
    position: relative;
  }
}
@media (min-width: 1024px) {
  .catalog-btn-mobile-only {
    display: none;
  }
  .catalog-btn {
    width: 48px;
    height: 48px;
    display: flex;
    padding: 12px 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.45);
    border-radius: 8px;
    position: relative;
  }
  .catalog-btn__burger {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }
  .catalog-btn__burger {
    position: absolute;
    top: 12px;
    left: 9px;
    height: 24px;
    width: 28px;
  }
  .catalog-btn__burger-item {
    width: 28px;
    height: 4px;
    border-radius: 8px;
    position: absolute;
    top: 9px;
    background-color: rgb(255, 255, 255);
  }
  .catalog-btn__burger-item::before,
  .catalog-btn__burger-item::after {
    content: " ";
    position: absolute;
    width: 28px;
    height: 4px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
  }
  .catalog-btn__burger-item::before {
    top: 10px;
  }
  .catalog-btn__burger-item::after {
    top: -10px;
  }
  .catalog-btn:hover {
    border-color: rgb(255, 255, 255);
  }
}
@media (min-width: 1px) {
  .search-panel {
    display: none;
  }
}
@media (min-width: 1024px) {
  .search-panel {
    display: flex;
    height: 48px;
    padding: 0px 20px;
    align-items: center;
    flex: 1 0 0;
    border-radius: 36px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .search-panel__wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
    flex: 1 0 0;
    align-self: stretch;
  }
  .search-panel__input {
    display: flex;
    padding-bottom: 4px;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    opacity: 0.5;
    max-width: 900px;
  }
  input[type=text] {
    color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  input[type=text]::-moz-placeholder {
    color: rgb(255, 255, 255);
  }
  input[type=text]::placeholder {
    color: rgb(255, 255, 255);
  }
  .desktop-search-icon {
    opacity: 0.4;
  }
}
@media (min-width: 1px) {
  .menu-icons {
    display: none;
  }
}
@media (min-width: 1024px) {
  .menu-icons {
    display: flex;
    padding-right: 17px;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
    align-self: stretch;
  }
  .menu-icons__icon {
    display: flex;
    width: 56px;
    padding-bottom: 3px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    align-self: stretch;
  }
  .menu-icons__icon-container {
    width: 56px;
    height: 30px;
    display: flex;
    padding: 1px 13px 1px 15px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .menu-icons__icon-cart-container {
    width: 56px;
    height: 30px;
    padding: 1px 13px 1px 15px;
    position: relative;
  }
  .menu-icons__number-of-items {
    display: inline-flex;
    height: 16px;
    width: 16px;
    transform: rotate(0.074deg);
    padding: 0px 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: rgb(245, 81, 35);
    border-radius: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    position: absolute;
    top: -3px;
    right: 8px;
  }
  .menu-icons__cart-icon {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 10px;
    top: 1px;
  }
  .menu-icons__profile-icon {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
  }
  .menu-icons__label-img {
    top: -5px;
    left: 31px;
  }
  .menu-icons__text {
    height: 16px;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
  }
  .menu-icons__text {
    height: 16px;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
  }
}
.added-products {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.added-products-total {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-bottom: 16px;
  border-bottom: solid;
  border-color: lightgrey;
  border-width: 1px;
}

.added-products-total__opened {
  display: flex;
  width: 100%;
  gap: 11px;
}

.added-products-total__closed {
  display: flex;
  width: 100%;
  gap: 11px;
  display: none;
}

@media (min-width: 1px) {
  .main-field {
    display: flex;
    padding: 0px;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
    max-width: 1440px;
  }
  .cart {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
  .cart__header {
    padding: 0px 16px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.2px;
  }
  .wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
  .products-block {
    display: flex;
    padding: 0px 16px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
}
@media (min-width: 1024px) {
  .main-field {
    padding: 0px 24px 26px 24px;
    align-items: flex-start;
    flex-direction: row;
    align-self: stretch;
    gap: 32px;
  }
  .cart {
    max-width: 891px;
    min-width: 640px;
    align-items: flex-start;
    gap: 27px;
    flex: 1 0 0;
    padding-top: 10px;
  }
  .wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
  .products-block {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 0px;
  }
  .cart-order {
    max-width: 429px;
    padding-left: 32px;
  }
  .cart-order div {
    margin-left: 32px;
    background-color: white;
    height: 100%;
  }
  .cart__header {
    padding: 0px;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.01em;
    text-align: left;
  }
  .added-products {
    margin-top: 27px;
  }
  .added-products-total {
    width: 100%;
  }
  .added-products__show-hide-img {
    width: 20px;
    height: 20px;
    position: relative;
  }
  .added-products__show-hide-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 1400px) {
  .added-products {
    margin-top: 27px;
  }
  .added-products-total {
    width: 100%;
  }
}
.products-header__text {
  padding: 0px 0px 5px 0px;
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.product-checkbox-cont {
  display: flex;
  width: 22px;
  height: 96px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product__picture-mobile {
  width: 80px;
  height: 106px;
}

.product-info__specs-item {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: var(--text-black, #000);
}

.quantity-container {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
}

.minus-button {
  left: 3px;
  top: 10px;
}

.plus-button {
  right: 3px;
}

.minus-img {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
}

.plus-img {
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
}

.unavailable-header {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.unavailable-info {
  width: 100%;
  color: rgb(151, 151, 175);
}

.unavailable {
  color: rgb(151, 151, 175);
}

@media (min-width: 1px) {
  .product {
    max-width: 397px;
    display: flex;
    padding-top: 12px;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
  }
  .products-header {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 24px;
    gap: 11px;
  }
  .products-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .products-header__text {
    display: flex;
    height: 24px;
    padding-bottom: 5px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
  }
  .products-header__icon {
    display: flex;
    width: 44px;
    height: 44px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .show-hide-icon {
    position: static;
  }
  .products-list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-top: solid;
    border-width: 1px;
    border-color: lightgrey;
  }
  .product__picture {
    width: 72px;
    height: 96px;
    border-radius: 8px;
    position: relative;
  }
  .product__picture-wrap {
    position: relative;
  }
  .product__picture-wrap::after {
    content: " ";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 2;
    border-radius: 8px;
    background-color: rgba(41, 43, 83, 0.03);
  }
  .product__picture-wrap-unavail {
    position: relative;
  }
  .product__picture-wrap-unavail::after {
    content: " ";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 2;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.05);
  }
  .unavail {
    filter: grayscale(100%);
  }
  .products-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }
  .product-checkbox-pic {
    display: flex;
    align-items: center;
    position: relative;
  }
  .product-price {
    display: none;
  }
  .product-price-mobile {
    display: flex;
    align-items: baseline;
    gap: 5px;
    align-self: stretch;
  }
  .product__picture {
    width: 80px;
    height: 106px;
    border-radius: 8px;
  }
  .product-checkbox-cont {
    width: 0px;
    height: 0px;
  }
  .product__checkbox {
    top: 4px;
    left: 4px;
  }
  .product-size {
    position: absolute;
    width: 22px;
    height: 22px;
    bottom: 4px;
    left: 4px;
    border-radius: 6px;
    background-color: white;
    display: flex;
    padding: 1px 4px 3px 3px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .product-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
  }
  .quantity-and-price {
    display: flex;
    width: 100%;
    height: 32px;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    align-self: stretch;
  }
  .quantity-and-price-unavail {
    height: 24px;
  }
  .counter {
    display: flex;
    width: 80px;
    height: 32px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
  }
  .counter__button {
    display: flex;
    padding: 2.667px 5px 8px 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
  .counter__number {
    display: flex;
    padding: 4.333px 0px 7.667px 0px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
  }
  .fav-del-container {
    display: none;
    justify-content: center;
    align-items: center;
  }
  .fav-del-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fav-del-mobile__icon-container {
    display: flex;
    width: 44px;
    height: 44px;
    padding: 12px;
    justify-content: center;
    align-items: center;
  }
  .quantity-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    align-self: stretch;
  }
  .quantity-container__prod-left {
    width: auto;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: rgb(255, 59, 48);
  }
  .product-info__name {
    max-width: 290px;
    max-height: 40px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .product-info__location-entity {
    display: none;
  }
  .product-info__location {
    color: rgb(151, 151, 175);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  .product-price-mobile__current {
    display: flex;
    align-items: baseline;
  }
  .product-price-mobile__current .product-price__value {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
  .product-price__value {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-align: right;
  }
  .product-price__currency {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: right;
  }
  .product-price__old {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: right;
    text-decoration: line-through;
    color: rgb(151, 151, 175);
  }
  .product-info__name-price-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    align-self: stretch;
  }
  .mobile-text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
@media (min-width: 1024px) {
  .quantity-container__prod-left {
    width: 100%;
  }
  .products-header {
    align-self: stretch;
  }
  .products-header__icon {
    width: 20px;
    height: 20px;
    position: relative;
    padding: 0px;
  }
  .show-hide-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .products-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    border-top: none;
  }
  .products-container {
    gap: 15px;
  }
  .products-container__products-list {
    border-top: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
  }
  .products-list {
    gap: 20px;
  }
  .product-checkbox-pic {
    gap: 12px;
  }
  .product-price-mobile {
    display: none;
  }
  .product-size {
    display: none;
  }
  .product__picture {
    width: 72px;
    height: 96px;
    border-radius: 8px;
  }
  .product-checkbox-cont {
    display: flex;
    width: 22px;
    height: 96px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .quantity-container {
    width: 100px;
    align-items: flex-end;
    gap: 8px;
    padding-top: 3px;
    flex-direction: column;
  }
  .product-info__name {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-height: 100%;
  }
  .product-info__specs {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
  }
  .product-info__location {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
  }
  .product-info__location-entity {
    display: flex;
    height: 16px;
    align-items: center;
    gap: 6px;
    align-self: stretch;
  }
  .product-info__location-icon {
    width: 20px;
    height: 20px;
  }
  .product-info__location-icon .info {
    padding-top: 4px;
  }
  .quantity-and-price {
    display: flex;
    height: auto;
    width: 226px;
    padding-top: 9px;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }
  .quantity-and-price-unavail {
    height: auto;
  }
  .counter {
    width: 100px;
    height: 44px;
    position: relative;
  }
  .counter__number {
    width: 44px;
    height: 23px;
    text-align: center;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
  }
  .counter__button {
    position: absolute;
    top: 9px;
    width: 24px;
    height: 24px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    display: flex;
    padding: 2px 7px 6px 8px;
    justify-content: center;
    align-items: center;
  }
  .fav-del-mobile {
    display: none;
  }
  .fav-del-container {
    display: flex;
    gap: 16px;
  }
  .fav-icon:hover {
    cursor: pointer;
  }
  .delete-icon {
    cursor: pointer;
  }
  .product-price {
    min-width: 110px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    flex: 1 0 0;
    align-self: stretch;
  }
  .product-price__current {
    display: flex;
    align-items: baseline;
    justify-content: right;
  }
  .product-price__value {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-align: right;
  }
  .product-price__currency {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: right;
  }
  .product-price__old {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: right;
    text-decoration: line-through;
    color: rgb(151, 151, 175);
  }
  .product-price__old span {
    border-bottom: dashed;
    border-color: rgba(151, 151, 175, 0.5);
    border-width: 1.5px;
  }
}
.wb-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.wb-checkbox + label {
  width: 22px;
  height: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.wb-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 6px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  z-index: 3;
}

.wb-checkbox:checked + label::before {
  border-color: rgb(203, 17, 171);
  background-color: rgb(203, 17, 171);
  background-image: url("../icons/checkbox.svg");
  background-size: auto;
}

@media (min-width: 1px) and (max-width: 1023px) {
  .wb-checkbox + label, .wb-checkbox + label::before {
    position: absolute;
  }
  .total-checkbox + label, .total-checkbox + label::before {
    position: static;
  }
  .product__checkbox + label::before {
    background-color: white;
    top: 4px;
    left: 4px;
  }
  .product__checkbox + label {
    top: 0px;
    left: 0px;
  }
  .product-header__checkbox + label {
    width: auto;
  }
  .products-header__checkbox + label, products-header__checkbox + label::before {
    position: static;
  }
  .products-header__checkbox {
    width: 22px;
  }
}
@media (min-width: 1px) {
  .order-details {
    width: 100%;
  }
  .order-info-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .desktop-only-b {
    display: none;
  }
  .delivery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    padding: 16px 0px 24px 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    background-color: white;
    border-radius: 8px;
  }
  .delivery-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: stretch;
    gap: 8px;
  }
  .delivery-details__header {
    display: flex;
    padding: 0px 16px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
  }
  .delivery-details__h2 {
    width: 100%;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;
    font-style: normal;
    font-weight: 700;
  }
  .change-btn {
    display: flex;
    padding-top: 3px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: rgb(203, 17, 171);
  }
  .delivery-details-info-mobile {
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }
  .delivery-details-info-mobile-point-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .delivery-details-info-mobile__point {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }
  .delivery-details-info-mobile__point-header {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
  .delivery-details-info-mobile__point-name-address {
    display: flex;
    min-width: 288px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .delivery-details-info-mobile__point-address {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .pick-point-info__time-rating {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 8px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  .rating {
    display: flex;
    align-items: center;
    gap: 4px;
    align-items: flex-start;
    align-self: stretch;
  }
  .rating-star-container {
    display: flex;
    padding: 2px 0px;
    align-items: center;
    gap: 2px;
  }
  .delivery-details-info-mobile__price-header {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
  .delivery-details-info-mobile__price-value {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .delivery-details-info-mobile-dates-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .date-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  .delivery-date {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
  .product-img-delivery {
    width: 40px;
    height: 56px;
    border-radius: 8px;
  }
  .back-delivery {
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
  .back-delivery-container {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  .total-back-delivery__text-main {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  .total-back-delivery__text-green {
    color: rgb(12, 180, 119);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
}
@media (min-width: 1023px) {
  .order-info-wrap {
    gap: 16px;
  }
  .order-details {
    display: flex;
  }
  .order-details {
    max-width: 891px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }
  .delivery {
    display: flex;
    padding: 16px 0px 24px 0px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
  }
  .delivery-details {
    gap: 16px;
  }
  .delivery-details__header {
    padding: 0px 24px;
  }
  .delivery-details__h2 {
    width: 100%;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.24px;
  }
  .change-btn {
    padding-top: 7px;
  }
  .desktop-only-b {
    display: flex;
  }
  .delivery-details-info {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
  }
  .delivery-details-info__headers {
    display: flex;
    padding-left: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
  .delivery-details-info-mobile {
    display: none;
  }
  .pick-point {
    display: flex;
    height: 44px;
    align-items: flex-start;
    gap: 36px;
  }
  .delivery-price-header {
    display: flex;
    height: 24px;
    align-items: flex-start;
  }
  .devilery-date {
    display: flex;
    height: 56px;
    flex-direction: column;
    align-items: flex-start;
  }
  .delivery-details-info__lines {
    display: flex;
    padding-right: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .pick-point-info {
    display: flex;
    max-width: 398px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
  }
  .pick-point-info__address {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .pick-point-info__time-rating {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  .rating {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
  }
  .rating-star-container {
    display: flex;
    padding: 2px 0px;
    align-items: center;
    gap: 2px;
  }
  .rating-star {
    paddding: 0px;
  }
  .delivery-price {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .delivery-producst {
    display: flex;
    height: 56px;
    align-items: flex-start;
    gap: 8px;
  }
  .product-img-delivery {
    width: 40px;
    height: 56px;
    border-radius: 8px;
  }
  .back-delivery {
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
  .back-delivery-container {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  .back-delivery__free {
    color: rgb(12, 180, 119);
    border-bottom: dashed;
    border-color: rgba(12, 180, 119, 0.2);
    border-width: 1px;
  }
}
@media (min-width: 1px) {
  .payment-details {
    display: flex;
    padding: 16px 16px 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
  }
  .payment-details__header {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
  }
  .payment-details__header-text {
    width: 100%;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.2px;
  }
  .payment-details__method {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
  .payment-details__cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
  .payment-details__card-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .card-details {
    display: flex;
    align-items: flex-start;
    gap: 12px;
  }
  .payment-system {
    display: flex;
    width: 32px;
    height: 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background-color: rgb(246, 246, 250);
  }
  .card-details-wrap {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .payment-details__outro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: rgb(151, 151, 175);
  }
}
@media (min-width: 1024px) {
  .payment-details {
    padding: 16px 24px 24px 24px;
  }
  .payment-details__header-text {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.24px;
  }
  .payment-details__method {
    gap: 16px;
  }
}
@media (min-width: 1px) {
  .client {
    display: flex;
    padding: 16px 16px 24px 16px;
    flex-direction: column;
    align-items: right;
    gap: 8px;
    align-self: stretch;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
  }
  .client__header {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.2px;
    color: rgb(0, 0, 0);
  }
  .client-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .client-inputs-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }
  .client-input-block {
    display: flex;
    height: 56px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
    align-self: stretch;
  }
  .client-input-block__up-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
    align-self: stretch;
    color: rgb(151, 151, 175);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  }
  .client-input-block__down-label {
    color: rgb(245, 81, 35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
    align-self: stretch;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  }
  .TIN {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  }
}
@media (min-width: 1023px) {
  .client {
    display: flex;
    padding: 16px 24px 24px 24px;
    align-items: flex-start;
    gap: 16px;
  }
  .client__header {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.24px;
  }
  .client-form {
    max-width: 700px;
    gap: 0px;
  }
  .client-inputs-wrap {
    max-width: 100%;
    flex-direction: row;
    gap: 24px;
  }
  .client-input-block {
    padding: 13px 0px 16px 0px;
    height: 64px;
    gap: 2px;
    flex: 1 0 0;
  }
  .client-input-block__up-label {
    color: rgb(151, 151, 175);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  .client-input-block__down-label {
    color: rgb(245, 81, 35);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  }
  .TIN {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  }
}
.client-input-block__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.client-input-block__type-field[type=text] {
  color: rgb(0, 0, 0);
}

.client-input-block__type-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  align-self: stretch;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: rgb(0, 0, 0);
  border-bottom: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  padding-bottom: 3px;
}

.client-input-block__type-field::-moz-placeholder, .client-input-block__type-field[type=text]::-moz-placeholder {
  color: rgb(151, 151, 175);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.client-input-block__type-field::placeholder, .client-input-block__type-field[type=text]::placeholder {
  color: rgb(151, 151, 175);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.hidden {
  display: none;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  background-color: rgb(103, 37, 168);
}

.footer-rect {
  height: 24px;
  width: 100%;
  background-color: rgb(246, 246, 250);
  border-radius: 0 0 24px 24px;
}

.footer-block {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  align-self: stretch;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

@media (min-width: 1px) {
  .total-cont {
    display: flex;
    max-width: 100%;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
  }
  .total {
    min-width: 100%;
    display: flex;
    padding: 8px 16px 16px 16px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background-color: rgb(246, 246, 250);
    border-radius: 16px;
  }
  .total-order-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }
  .total-delivery-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
  }
  .total-card__payment-option {
    display: flex;
    padding: 8px 8px 12px 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    background-color: rgb(240, 236, 244);
    border-radius: 8px;
  }
  .total-card__card-info {
    display: none;
  }
  .total-delivery {
    display: none;
  }
  .total-back-delivery {
    display: flex;
    padding: 8px 8px 12px 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    background-color: rgb(240, 236, 244);
    border-radius: 8px;
  }
  .total-price__h2, .total-price__value {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.2px;
  }
}
@media (min-width: 1024px) {
  .total-cont {
    max-width: 429px;
    margin-top: -2px;
  }
  .total {
    min-width: 303px;
    padding: 16px 24px 24px 24px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  }
  .total-delivery-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
  }
  .total-order-info {
    gap: 24px;
  }
  .total-delivery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
  }
  .total-card__payment-option {
    background-color: rgb(246, 246, 250);
  }
  .total-card__card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
  }
  .total-back-delivery {
    background-color: rgb(246, 246, 250);
  }
  .total-price__h2, .total-price__value {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.24px;
  }
}
.total-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.total-price__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.total-price__currency {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.2px;
}

.total-price__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.total-price__details-sum, .total-price__details-discount, .total-price__details-delivery {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.total-delivery__header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.total-subheader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.total-delivery__text {
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.total-subheader-txt {
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.total-delivery__address {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.total-delivery__date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: rgb(203, 17, 171);
}

.total-delivery__date-text {
  border-bottom: dashed;
  border-color: rgba(203, 17, 171, 0.2);
  border-width: 1px;
}

.total-back-delivery__text-green {
  color: rgb(12, 180, 119);
  border-bottom: dashed;
  border-color: rgb(12, 180, 119);
  border-width: 1px;
}

.total-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.total-card__card-cont {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.total__card-number {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.total-card__card-option {
  display: flex;
  padding: 8px 8px 12px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.total-card__card-option-cont {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.total-card__payment-option-cont {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.total-card__payment-option-text {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.total-card__payment-option-info {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.total-order-btn-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.total-order-btn {
  display: flex;
  height: 44px;
  padding: 0px 32px 5px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-color: rgb(203, 17, 171);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-radius: 8px;
}

.total-order-agreement {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.total-order-agreement__text {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  src: local("Roboto");
  url: "../fonts/Segoe_UI" format("ttf");
}
@media (min-width: 1px) {
  body {
    background-color: rgb(246, 246, 250);
  }
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
}
@media (min-width: 1024px) {
  .desktop-only {
    display: block;
  }
  .mobile-only {
    display: none;
  }
}