@import "body_style"
@import "header.sass"
@import "catalog-btn.sass"
@import "search-panel.sass"
@import "menu-icons.sass"
@import "cart.sass"
@import "products-list.sass"
@import "wb-checkbox.sass"


@font-face 
    font-family: "Segoe UI"
    font-style: normal
    src: local("Roboto")
    url: ('../fonts/Segoe_UI') format("ttf")
        