@import "variables.sass"

.products-container
    display: flex
    width: 100%
    flex-direction: column
    align-items: flex-start
    gap: 16px

.products-header__text
    width: 100%
    height: 24px
    padding: 0px 0px 5px 0px
    color: black
    font-size: 16px
    font-style: normal
    font-weight: 400
    line-height: 24px


.products-list
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 20px
    align-self: stretch
    border-top: solid
    border-width: 1px
    border-color: lightgrey

.product
    max-width: 397px
    display: flex
    padding-top: 12px
    align-items: flex-start
    gap: 16px
    flex: 1 0 0

.product-checkbox-cont
    display: flex
    width: 22px
    height: 96px
    flex-direction: column
    justify-content: center
    align-items: center

.product__picture
    width: 72px
    height: 96px
    border-radius: 8px

.product__picture-mobile
    width: 80px
    height: 106px

.product-info
    width: 100%
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 8px
    flex: 1 0 0
    align-self: stretch

.product-info__specs-item
    font-size: 13px
    font-style: normal
    font-weight: 400
    line-height: 16px
    color: var(--text-black, #000)   


.quantity-container
    width: 100px
    display: flex
    padding-top: 3px
    flex-direction: column
    align-items: flex-end
    gap: 8px
    align-self: stretch

.counter
    position: relative
    background-color: rgba(255, 255, 255, 1)
    border-radius: 8px

.counter__number
    position: absolute
    top: 40%
    left: 50%
    transform: translate(-50%, -50%)

.counter__button
    position: absolute
    top: 9px
    width: 24px
    height: 24px
    font-size: 20px
    font-style: normal
    font-weight: 400
    line-height: 24px
    letter-spacing: -0.2px
    display: flex
    padding: 2px 7px 6px 8px
    justify-content: center
    align-items: center

.minus-button
   left: 3px
   top: 10px

.plus-button
    right: 3px

    
.minus-img
    position: absolute
    top: 50%
    left: 4%
    transform: translateY(-50%)
.plus-img
    position: absolute
    top: 50%
    right: 4%
    transform: translateY(-50%)

.unavailable-header
    font-size: 16px
    font-style: normal
    font-weight: 600
    line-height: 24px

.unavailable-info
    width: 100%




@media (min-width: 1px)
    
    .products-header
        display: flex
        align-items: center
        width: 100%
        height: 24px
        gap: 11px
    
    .products-header__icon
        display: flex
        width: 44px
        height: 44px
        padding: 12px
        justify-content: center
        align-items: center
        flex-shrink: 0
    
    .show-hide-icon
        position: static

    .products-list-item
        display: flex
        flex-direction: column
        align-items: flex-start
        gap: 12px
        align-self: stretch

    .product-checkbox-img
        display: flex
        align-items: center
        position: relative
    
    .product__picture
        width: 80px
        height: 106px
        border-radius: 8px
    
    .product-checkbox-cont
        width: 0px
        height: 0px

    .product__checkbox
        top: 4px
        left: 4px

    .quantity-and-price
        display: flex
        width: 100%
        min-height: 32px
        justify-content: space-between
        align-items: center
        gap: 16px
        align-self: stretch
    
    .counter
        width: 80px
        height: 32px


    .fav-del-container
        display: none
        justify-content: center
        align-items: center
    
    .fav-del-mobile
        display: flex
        justify-content: center
        align-items: center

    .fav-del-mobile__icon-container
        display: flex
        width: 44px
        height: 44px
        padding: 12px
        justify-content: center
        align-items: center

    .quantity-container
        width: 100%
        display: flex
        padding-top: 3px
        flex-direction: row
        align-items: center
        gap: 16px
        align-self: stretch

    .quantity-container__prod-left
        width: auto
        font-size: 13px
        font-weight: 400
        line-height: 16px
        letter-spacing: 0px
        text-align: left
        color: rgba(255, 59, 48, 1)

    .product-info__name
        max-width: 275px
        font-size: 14px
        font-style: normal
        font-weight: 400
        line-height: 20px

    .product-info__location-entity
        display: none
    
    .product-info__location
        color: rgb(151, 151, 175)
        font-size: 13px
        font-style: normal
        font-weight: 400
        line-height: 16px

@media (min-width: 1024px)
    
    .quantity-container__prod-left
        width: 100%

    .products-header
        align-self: stretch

    .products-header__icon
        width: 20px
        height: 20px
        position: relative
        padding: 0px
    
    .show-hide-icon
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
    
    .products-list-item
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: flex-start
        align-self: stretch
    
    .product-checkbox-img
        gap: 12px
   
    
    .product__picture
        width: 72px
        height: 96px
        border-radius: 8px
    
    .product-checkbox-cont
        display: flex
        width: 22px
        height: 96px
        flex-direction: column
        justify-content: center
        align-items: center
   
    .quantity-container
        width: 100px
        align-items: flex-end
        gap: 8px
        flex-direction: column

    .product-info__name
        font-size: 16px
        font-style: normal
        font-weight: 400
        line-height: 24px
    
    .product-info__specs
        display: flex
        align-items: center
        gap: 16px
        align-self: stretch
    
    .product-info__location
        display: flex
        flex-direction: column
        align-items: flex-start
        gap: 4px
        align-self: stretch

    .product-info__location-entity
        display: flex
        height: 16px
        align-items: center
        gap: 6px
        align-self: stretch

    .product-info__location-icon
        width: 20px
        height: 20px

        .info
            padding-top: 4px
           
    .quantity-and-price
        display: flex
        width: 226px
        padding-top: 9px
        align-items: flex-start
        gap: 16px
        align-self: stretch

    .counter
        width: 100px
        height: 44px

    .counter__number
        width: 40px
        height: 20px
        text-align: center
        
    
    .fav-del-mobile
        display: none

    .fav-del-container
        display: flex
        gap: 16px
    
    .product-price
        min-width: 110px
        display: flex
        flex-direction: column
        align-items: flex-end
        gap: 5px
        flex: 1 0 0
        align-self: stretch

    .product-price__current
        display: flex
        align-items: baseline

    .product-price__value
        font-size: 20px
        font-weight: 700
        line-height: 28px
        letter-spacing: -0.01em
        text-align: right
    
    .product-price__currency
        font-size: 16px
        font-weight: 700
        line-height: 24px
        letter-spacing: 0px
        text-align: right
    
    .product-price__old
        font-size: 13px
        font-weight: 400
        line-height: 16px
        letter-spacing: 0px
        text-align: right
        text-decoration: line-through
        color: rgba(151, 151, 175, 1)
        
        span
            border-bottom: dashed
            border-color: rgba(151, 151, 175, 0.5)

            border-width: 1.5px
            

@media (min-width: 1400px)