@font-face {
    font-family: Segoe UI;
    src:
        local("Segoe UI"),
        url('../fonts/SegoeUINormal.woff2') format("woff2"),
        url('../fonts/SegoeUINormal.woff') format("woff"),
        url('../fonts/SegoeUINormal.ttf') format("truetype");
    
    font-weight: 400;
}

@font-face {
    font-family: Segoe UI;
    src:
        local("Segoe UI Semibold"),
        url('../fonts/SegoeUISemibold.woff2') format("woff2"),
        url('../fonts/SegoeUISemibold.woff') format("woff"),
        url('../fonts/SegoeUISemibold.ttf') format("truetype");
    
    font-weight: 600;
}

@font-face {
    font-family: Segoe UI;
    src:
        local("Segoe UI Bold"),
        url('../fonts/SegoeUIBold.woff2') format("woff2"),
        url('../fonts/SegoeUIBold.woff') format("woff"),
        url('../fonts/SegoeUIBold.ttf') format("truetype");

    font-weight: 700;
}
