@charset "UTF-8";
@import url(./variables.css);
@import url(./tooltip.css);
@import url(./header.css);
@import url(./search-panel.css);
@import url(./menu-icons.css);
@import url(./cart.css);
@import url(./productsList.css);
@import url(./wb-checkbox.css);
@import url(./deliveryBlock.css);
@import url(./paymentDetails.css);
@import url(./clientBlock.css);
@import url(./footer.css);
@import url(./total.css);
@import url(./modal.css);

html {
    font-family: Segoe UI;
}

.hidden {
    display: none;
  }

@media (min-width: 1px) {

body {
    background-color: var(--background-smoky);
}
.desktop-only {
    display: none;
}   
.mobile-only {
    display: block;
}
}
    
@media (min-width: 1024px) {
.desktop-only {
    display: block;
}   
.mobile-only {
    display: none;
}  
}