@media (min-width: 1px) {
  
  .menu-icons {
    display: none;
  }
}

@media (min-width: 1024px) {
  
  .menu-icons {
    display: flex;
    padding-right: 17px;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
    align-self: stretch;
  }

  .menu-icons__icon {
    display: flex;
    width: 56px;
    padding-bottom: 3px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    align-self: stretch;
  }

  .menu-icons__icon:hover {
    cursor: pointer;
  }

  .menu-icons__icon-container {
    width: 56px;
    height: 30px;
    display: flex;
    padding: 1px 13px 1px 15px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  .menu-icons__icon-cart-container {
    width: 56px;
    height: 30px;
    position: relative;
  }

  .menu-icons__cart-icon {
    position: absolute;
    left: 10px;
    bottom: 1px;
  }

  .menu-icons__number-of-items {
    display: inline-flex;
    height: 16px;
    width: 16px;
    transform: rotate(0.074deg);
    padding: 0px 2px 2px 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: var(--system-orange);
    border-radius: 16px;
    position: absolute;
    bottom: 18px;
    right: 8px;
    color: var(--system-white);
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
  }

  .menu-icons__text {
    height: 16px;
    color: var(--system-white);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
  }
}