.modal-overlay {
    position: fixed;
    background: rgba(5, 0, 10, 0.30);
    width: 100%;
    height: 100%;
    z-index: 300;
    top: 0px;
    right: 0px;
    display: none;
}

.displayed {
    display: block;
}

.selected {
    border: 2px solid rgba(203, 17, 171, 1);
}

@media (min-width: 1px) {

.change-address {
    position: fixed;
    right: 0px;
    top: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 1);
    z-index: 301;
}

.change-address__header {
    display: flex;
    padding: 16px 11px 13px 16px;
    align-items: center;
    align-self: stretch;
}

.change-address__h2 {
    width: 100%;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.2px;
    display: flex;
    height: 32px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
}

.change-address__wrap {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.change-address__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
}

.change-address__list-selectors {
    max-height: 36px;
    padding: 0px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
}

.change-address__list-selector {
    display: flex;
    height: 40px;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    border-radius: 20px;
    border: 2px solid rgba(203, 17, 171, 0.15);
    background-color: white;
}

.change-address__list-selector-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: black;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.change-address__list-addresses {
    display: flex;
    width: 320px;
    padding: 0px 14px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.change-address__list-addresses-h3 {
    display: flex;
    height: 18px;
    padding: 2px 1px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.change-address__close-icon:hover {
    cursor: pointer;
}

.change-address__list-item {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.change-address__radio-container {
    display: flex;
    width: 20px;
    padding: 9px 0px 51px 0px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.change-card__custom-radio, .change-address__custom-radio {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    vertical-align: text-top;
}

.change-card__custom-radio::before, .change-address__custom-radio::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #a3a4a7;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
}

.change-address__stock-radio:checked + .change-address__custom-radio {
    border: 6px solid rgba(203, 17, 171, 1);
}

.change-card__stock-radio:checked + .change-card__custom-radio {
    border: 6px solid rgba(203, 17, 171, 1);
}

.change-card__stock-radio, .change-address__stock-radio {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.change-card__close-icon:hover{
    cursor: pointer;
}

.change-address__point-container {
    display: flex;
    padding: 4px 0px 8px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
}

.change-address__point-address {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.change-address__rating-container {
    display: flex;
    align-items: center;
    gap: 8px;
}
.change-address__star-container {
    display: flex;
    padding: 2px 0px;
    align-items: center;
    gap: 2px;
}
.change-address__point-name {
    color: rgba(160, 160, 164, 1);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.change-address__delete-container {
    display: flex;
    width: 20px;
    padding: 8px 0px 52px 0px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.popup-button-container {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.popup-button-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.popup-button {
    display: flex;
    height: 44px;
    width: 164px;
    padding: 0px 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: rgba(203, 17, 171, 1);
    border-radius: 8px;
    color: white;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.not_disp {
    opacity: 0;
}

.change-card {
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 1);
    
}

.change-card__header-cont {
    display: flex;
    width: auto;
    padding: 16px 11px 13px 16px;
    align-items: center;
    align-self: stretch;
}

.change-card__header {
    display: flex;
    height: 32px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    width: 100%;
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.2px;
}

.change-card__cards-list-container {
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
}

.change-card__cards-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.cards-list-item {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.cards-list-item__radio-container {
    display: flex;
    width: 20px;
    padding: 3px 0px 1px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.cards-list-item__card-info {
    display: flex;
    align-items: center;
    gap: 4px;
}

.cards-list-item__payment-system {
    display: flex;
    width: 32px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background-color: rgba(246, 246, 250, 1);
}

.cards-list-item__card-number {
    color: black;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

}

@media (min-width: 1024px) {

.change-address {
    right: 212px;
    top: 177px;
    height: auto;
    width: 500px;
    border-radius: 16px; 
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);
}
.change-address__header {
    padding: 16px 24px 13px 24px;
    align-items: flex-start;
}
.change-address__h2 {
    font-weight: 700;
    letter-spacing: -0.2px;
    display: flex;
    height: 28px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    gap: 8px;
    align-items: flex-start;
}
.change-address__close-wrap {
    display: flex;
    
    padding-top: 4px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    opacity: 0.9;
}

.change-address__list {
    padding: 0px 22px;
    align-items: center;
    align-self: stretch;
}

.change-address__list-selectors {
    max-height: 36px;
    padding: 0px;
}

.change-address__list-selector {
    align-self: stretch;
    height: 36px;
}

.change-address__list-selector:hover{
    cursor: pointer;
}

.change-address__list-addresses{
    width: auto;
    padding: 0px 0px 33px 0px;
    align-self: stretch;
}

.change-address__radio-container {
    padding: 9px 0px 7px 0px;
    /* justify-content: center; */
    align-items: start;

}

.change-address__delete-container {
    align-items: center;
    padding: 8px 0px;
    justify-content: center;
}

.popup-button-container {
    padding: 16px 24px 24px 24px;
}

.popup-button-wrap {
    gap: 24px;
}

.change-card {
    position: fixed;
    top: 179.5px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: auto;
    border-radius: 16px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);
}

.change-card-button {
    padding-bottom: 5px;
}

.change-card__header-cont {
    padding: 16px 24px 13px 24px;
    align-items: flex-start;
}

.change-card__header {
    font-weight: 700;
    height: 28px;
}

.change-card__cards-list-container {
    gap: 8px;
    align-self: stretch;
    padding: 0px 22px 123px 22px;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}
.cards-list-item__card-info {
    align-items: center;
    gap: 4px;
}

.selected {
    border: 2px solid rgba(203, 17, 171, 1);
}

}