html {
    --system-violet: rgba(103, 37, 168, 1);
    --system-white: rgba(255, 255, 255, 1);
    --system-orange: rgba(245, 81, 35, 1);
    --background-smoky: rgba(246, 246, 250, 1);
    --system-magenta: rgba(203, 17, 171, 1);
    --text-black: rgba(0, 0, 0, 1);
    --system-gray: rgba(151, 151, 175, 1);
    --rulers-rulers-input: rgba(0, 0, 0, 0.20);
    --rulers-rulers: rgba(0, 0, 0, 0.10);
    --system-green: rgba(12, 180, 119, 1);
}