:root {
  --background-smoky: rgba(246, 246, 250, 1);
  --smoky-dark: rgb(240, 236, 244);
  --background-white: rgba(255, 255, 255, 1);

  --orange: rgba(245, 81, 35, 1);
  --orange-dark: rgb(255, 59, 48);

  --violet: rgba(103, 37, 168, 1);
  --magenta: rgba(203, 17, 171, 1);
  --magenta-pale: rgba(203, 17, 171, 0.15);

  --text-black: rgba(0, 0, 0, 1);
  --text-white: rgba(255, 255, 255, 1);
  --desktop-menu-border: rgba(255, 255, 255, 0.45);
  --system-gray: rgba(151, 151, 175, 1);
  --rulers-rulers-input: rgba(0, 0, 0, 0.20);
  --ruler: rgba(0, 0, 0, 0.10);
  --system-green: rgba(12, 180, 119, 1);
  --border-green: rgba(12, 180, 119, 0.2);
  --light-gray: rgba(160, 160, 164, 1);
  --modal-overlay: rgba(5, 0, 10, 0.30);
}